// Tabs
.nav-link[data-job-section] {
    color: $gray-300;
    margin: 1rem 0;

    p {
        margin: 0;
    }

    &.active {
        border-left: 4px solid $blue-600;
        color: $blue-600;
    }

    &:hover:not(.active) {
        color: $blue-400;
    }

    &:focus {

      outline: 2px solid $blue-600;

      outline-offset: 2px;

    }


    &:focus:not(:focus-visible) {

      outline: 0;

    }


    &:focus-visible {

      outline: 2px solid $blue-600;

      outline-offset: 2px;

    }
}
