GWCLOUD_TOKEN=
GWCLOUD_ENDPOINT=https://gwcloud.org.au/graphql
CBCFLOW_PORTAL_URL=https://cbcflow.gwdc.org.au
CBCFLOW_PORTAL_TOKEN=
JOB_CONTROLLER_API_URL=https://jobcontroller.adacs.org.au/job/apiv1
JOB_CONTROLLER_JWT_SECRET=
JOB_CONTROLLER_CLUSTER=cit
JOB_CONTROLLER_BUNDLE=
DB_PATH=/sqlite.db
HOST_DB_PATH=/opt/gwcloud_bilby/gwflow_cron/sqlite.db
STAGING_DIR=/staging
HOST_STAGING_PATH=/opt/gwcloud_bilby/gwflow_cron/staging
MAX_FILES_PER_RUN=50
MAX_BYTES_PER_RUN=21474836480
MAX_RETRY_ATTEMPTS=24
