default:
  image:
    name: ubuntu:24.04
    entrypoint: ["/usr/bin/env"]

stages:
  - CI

django-tests:
  stage: CI
  script:
    - apt -y update
    - apt -y install apt-utils
    - apt -y install net-tools python3.12 python3-venv git curl wget python3-dev build-essential python3-setuptools
    - apt -y upgrade
    - cd src/
    - /usr/bin/python3.12 -m venv /src/venv
    - /src/venv/bin/pip3 install -r requirements.txt
    - mkdir -p job_uploads/upload
    - /src/venv/bin/python3 development-manage.py jenkins --enable-coverage --coverage-rcfile=.coveragerc

  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: src/reports/coverage.xml
      junit: src/reports/junit.xml

npm-tests:
  stage: CI
  script:
    - apt -y update
    - apt -y install apt-utils
    - apt -y install net-tools python3.12 python3-venv git curl wget python3-dev build-essential python3-setuptools
    - apt -y upgrade
    - cd src/
    - /usr/bin/python3.12 -m venv /src/venv
    - /src/venv/bin/pip3 install -r requirements.txt
    - /src/venv/bin/python3 development-manage.py graphql_schema
    - cd react/
    - curl https://raw.githubusercontent.com/creationix/nvm/master/install.sh | bash
    - export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh" --no-use
    - eval "[ -f .nvmrc ] && nvm install && nvm use"
    - npm install --legacy-peer-deps
    - npm run relay
    - npm run test-ci

  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: src/react/coverage/cobertura-coverage.xml
      junit: src/react/junit.xml

bundle-tests:
  stage: CI
  script:
    - apt -y update
    - apt -y install apt-utils
    - apt -y install net-tools python3.12 python3-venv git curl wget
    - apt -y upgrade
    - wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O "$HOME/miniconda.sh"
    - bash "$HOME/miniconda.sh" -b -p "$HOME/miniconda"
    - cd src/bundle/
    - $HOME/miniconda/bin/conda env create -f conda-environment.yml -p venv
    - $HOME/miniconda/bin/conda env update --file conda-environment.yml --prune -p venv
    - $HOME/miniconda/bin/conda run -p venv coverage run -m xmlrunner discover --output-file ./junit.xml
    - $HOME/miniconda/bin/conda run -p venv coverage xml

  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: src/bundle/coverage.xml
      junit: src/bundle/junit.xml

code-quality:
  stage: CI
  image: docker:25
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
    SP_VERSION: 0.85.26
  allow_failure: true
  services:
    - name: docker:25-dind
      alias: docker
  before_script:
    - until docker info 2>/dev/null; do echo "Waiting for Docker..."; sleep 1; done

  script:
    - docker run
      --env SOURCE_CODE="$PWD"
      --volume "$PWD":/code
      --volume /var/run/docker.sock:/var/run/docker.sock
      "registry.gitlab.com/gitlab-org/ci-cd/codequality:$SP_VERSION" /code

  artifacts:
    reports:
      codequality: gl-code-quality-report.json

flake8:
  stage: CI
  script:
    - apt -y update
    - apt -y install apt-utils
    - apt -y install net-tools python3.12 python3-venv git curl wget
    - apt -y upgrade
    - /usr/bin/python3.12 -m venv /src/venv
    - /src/venv/bin/pip3 install flake8-gl-codeclimate
    - /src/venv/bin/flake8 --exit-zero --format gl-codeclimate --output-file gl-code-quality-report.json src/
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

black:
  stage: CI
  script:
    - apt -y update
    - apt -y install apt-utils
    - apt -y install net-tools python3.12 python3-venv git curl wget
    - apt -y upgrade
    - /usr/bin/python3.12 -m venv /src/venv
    - /src/venv/bin/pip3 install black
    - /src/venv/bin/black --check src/

eslint:
  stage: CI
  script:
    - apt -y update
    - apt -y install apt-utils
    - apt -y install net-tools python3.12 python3-venv git curl wget python3-setuptools build-essential
    - apt -y upgrade
    - cd src/react/
    - curl https://raw.githubusercontent.com/creationix/nvm/master/install.sh | bash
    - export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh" --no-use
    - eval "[ -f .nvmrc ] && nvm install && nvm use"
    - npm install --legacy-peer-deps
    - npx eslint src

prettier:
  stage: CI
  script:
    - apt -y update
    - apt -y install apt-utils
    - apt -y install net-tools python3.12 python3-venv git curl wget python3-setuptools build-essential
    - apt -y upgrade
    - cd src/react/
    - curl https://raw.githubusercontent.com/creationix/nvm/master/install.sh | bash
    - export NVM_DIR="$HOME/.nvm" && . "$NVM_DIR/nvm.sh" --no-use
    - eval "[ -f .nvmrc ] && nvm install && nvm use"
    - npm install --legacy-peer-deps
    - npx prettier --check src

cronjob-tests:
  stage: CI
  script:
    - apt -y update
    - apt -y install apt-utils
    - apt -y install net-tools python3.12 python3-venv git curl wget python3-dev build-essential python3-setuptools
    - apt -y upgrade
    - cd gwosc_cron/
    - /usr/bin/python3.12 -m venv /gwosc_cron/venv
    - /gwosc_cron/venv/bin/pip3 install -r requirements.txt
    - /gwosc_cron/venv/bin/python3 -m coverage run -m xmlrunner discover --output-file ./junit.xml
    - /gwosc_cron/venv/bin/python3 -m coverage xml

  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: gwosc_cron/coverage.xml
      junit: gwosc_cron/junit.xml

cronjob-black:
  stage: CI
  script:
    - apt -y update
    - apt -y install apt-utils
    - apt -y install net-tools python3.12 python3-venv git curl wget
    - apt -y upgrade
    - /usr/bin/python3.12 -m venv /gwosc_cron/venv
    - /gwosc_cron/venv/bin/pip3 install black
    - /gwosc_cron/venv/bin/black --check gwosc_cron/

cronjob-flake8:
  stage: CI
  script:
    - apt -y update
    - apt -y install apt-utils
    - apt -y install net-tools python3.12 python3-venv git curl wget
    - apt -y upgrade
    - /usr/bin/python3.12 -m venv /gwosc_cron/venv
    - /gwosc_cron/venv/bin/pip3 install flake8-gl-codeclimate
    - /gwosc_cron/venv/bin/flake8 --exit-zero --format gl-codeclimate --output-file gl-code-quality-report.json gwosc_cron/

  artifacts:
    reports:
      codequality: gl-code-quality-report.json
