<form class="form-row">
  <div class="col-lg-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
      <input
        type="search"
        name="search"
        class="form-control"
        placeholder="Find a job..."
        value="{{ search }}"
        hx-get="{% url jobs_list_url_name %}"
        hx-trigger="input changed delay:300ms, search"
        hx-target="#job-list"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
    </div>
  </div>
  <div class="col-lg-2">
    <select
      name="time_range"
      class="form-control custom-select"
      hx-get="{% url jobs_list_url_name %}"
      hx-trigger="change"
      hx-target="#job-list"
      hx-swap="innerHTML"
      hx-push-url="true"
    >
      <option value="all"{% if time_range == "all" %} selected{% endif %}>Any time</option>
      <option value="1d"{% if time_range == "1d" %} selected{% endif %}>Past 24 hours</option>
      <option value="1w"{% if time_range == "1w" %} selected{% endif %}>Past week</option>
      <option value="1m"{% if time_range == "1m" %} selected{% endif %}>Past month</option>
      <option value="1y"{% if time_range == "1y" %} selected{% endif %}>Past year</option>
    </select>
  </div>
  <input type="hidden" name="page" value="1">
</form>
