{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ page_title|default:"GWCloud Bilby" }}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'bilbyui/app.css' %}">
  <link rel="stylesheet" href="{% static 'bilbyui/vendor/bootstrap-icons/bootstrap-icons.min.css' %}">
</head>
<body>
  {% include "bilbyui/_navbar.html" %}
  <main>
    {% block content %}{% endblock %}
  </main>
  <script defer src="{% static 'bilbyui/htmx.min.js' %}"></script>
  <script defer src="{% static 'bilbyui/alpine.min.js' %}"></script>
</body>
</html>
