[run]
omit =
    # Omit the virtual env
    */venv/*

    # Ignore manage.py files
    ./*manage.py

    # Ignore settings.py files
    gw_bilby/*settings.py

    # Ignore local.py if one exists
    gw_bilby/local.py

    # Ignore environment and base settings
    gw_bilby/base.py
    gw_bilby/environment.py
