django
graphene-django
graphene-file-upload
pip-tools
django-filter
django-cors-headers
django-graphql-jwt
python-jwt
pyjwt
requests
django4-jenkins
black
flake8
coverage<5
munch
pyopenssl
bilby_pipe
responses
pyhumps
elasticsearch
git+https://gitlab.com/CAS-eResearch/internal/adacs-sso-plugin.git
